/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 4198141 */
  src: url('//at.alicdn.com/t/c/font_4198141_uzcwnbpsrag.woff2?t=1710520569787') format('woff2'),
    url('//at.alicdn.com/t/c/font_4198141_uzcwnbpsrag.woff?t=1710520569787') format('woff'),
    url('//at.alicdn.com/t/c/font_4198141_uzcwnbpsrag.ttf?t=1710520569787') format('truetype');
}

@font-face {
  font-family: 'EVSxnrjqirKp';
  src: url('../assets//fonts/AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
    url('../assets//fonts//AlimamaDongFangDaKai-Regular.woff') format('woff'),
    url('../assets//fonts//AlimamaDongFangDaKai-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/*********** 定义变量 ***********/
:root {
  --size1: 15px;
  --size2: 20px;
  --size3: 25px;
  --size4: 30px;
  --size5: 35px;
  --size6: 40px;
  --size7: 45px;
  --color-theme: #591ece;
  --color-white: #f7f7f7;
  --outer-width: 15px;
  --content-width: 95%;
  --content-max-width: 1000px;
}

/************ 隐藏滚动跳 ************/
body {
  font-family: iconfont;
  font-size: var(--size3);
}

/************ 标签样式定义 ************/
a {
  text-decoration: none;
  color: inherit;
  transition: letter-spacing 0.3s;
}

.mdView h1[id],
.mdView h2[id],
.mdView h3[id],
.mdView h4[id],
.mdView h4[id],
.mdView h6[id] {
  padding-top: 90px;
  margin-top: -90px;
}
