/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont'; /* Project id 4198141 */
    src: url('//at.alicdn.com/t/c/font_4198141_sbnnk348c2o.woff2?t=1700815573906') format('woff2'), url('//at.alicdn.com/t/c/font_4198141_sbnnk348c2o.woff?t=1700815573906') format('woff'), url('//at.alicdn.com/t/c/font_4198141_sbnnk348c2o.ttf?t=1700815573906') format('truetype');
}

@font-face {
    font-family: 'EVSxnrjqirKp';
    src: url('../assets//fonts/AlimamaDongFangDaKai-Regular.woff2') format('woff2'), url('../assets//fonts//AlimamaDongFangDaKai-Regular.woff') format('woff'), url('../assets//fonts//AlimamaDongFangDaKai-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    font-family: EVSxnrjqirKp, iconfont;
    letter-spacing: 0.05em;
    scroll-behavior: smooth;
}

/*********** 定义变量 ***********/
:root {
    --size1: 10px;
    --size2: 14px;
    --size3: 18px;
    --size4: 22px;
    --size5: 26px;
    --color-red: #c11414;
    --color-white: #f7f7f7;
}

/************ 隐藏滚动跳 ************/
html {
    overflow: -moz-hidden-unscrollable;
    height: 100vh;
}
body {
    -ms-overflow-style: none;
    overflow: auto;
    height: 100vh;
    color: #3a3a3a;
}
body::-webkit-scrollbar {
    display: none;
}

/************ 标签样式定义 ************/
a {
    text-decoration: none;
    color: inherit;
    transition: letter-spacing 0.3s;
}
a:hover {
    letter-spacing: 0.18em;
}
